<div class="col-sidebar">
  <div class="fixed-col">

    <div class="site-header">
        <a href="{{ site.url }}" class="site-logo w-nav-brand">
          halfhidden
        </a>
    </div>

    <div class="col-container sidebar-content">
      <div class="col-section">
        <h1 class="f1 measure">we are new and we are the same</h1>
        <a href="/about" class="ui-text ui-link ui-link-sm">about</a>
      </div>
    </div>

    <div class="site-footer">
      <div class="site-footer-nav">
        <ul class="link-list">
          <li class="link-list-item"><a href="mailto:hello@halfhidden.co" class="ui-text ui-link ui-link-sm">hello@halfhidden.co</a></li>
          <li class="link-list-item"><a href="https://goo.gl/maps/Jof4SK5mpcW7wyMQ9" target=_blank" class="ui-text ui-link ui-link-sm">100 main st, delhi, new york</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
